NAVIO_IMAGE_PREFIX=ghcr.io/bestprappy/navio
NAVIO_IMAGE_TAG=replace-with-a-git-commit-sha
POSTGRES_DB=tripplanner
POSTGRES_USER=tripplanner
POSTGRES_PASSWORD=replace-with-a-long-random-password
USER_DB_PASSWORD=replace-with-a-long-random-password
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-a-long-random-password
KAFKA_CLUSTER_ID=885sUBCQTzGwY-lF8YV-uQ
GOOGLE_MAPS_SERVER_API_KEY=

